oauthlib
pandas
plotly
praw
pytrends
requests-oauthlib
scikit-learn
scipy
seaborn
statsmodels
streamlit 
streamlit-modal
streamlit-option-menu
streamlit-server-state
tweepy
vaderSentiment
wordcloud
bs4
